body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 310px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(147, 150, 155, 0.6));
  color: white;
  display: flex;
  justify-content: center;
}

.header-text {
  display: flex;
  align-items: center;
}

.header-text h1 {
  text-align: center;
}

/*
font-family: 'Rakkas', cursive;
font-family: 'Skranji', cursive;
 */

h1, h2, h3 {
  font-family: 'Ruslan Display', cursive;
  text-transform: uppercase;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  text-transform: none;
}

a:hover {
  cursor: pointer;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 50px;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.nav-bar a:hover {
  background-color: white;
  color: black;
}

section {
  text-align: center;
  margin: 25px auto;
}

hr {
  width: 90%;
}

.about, .dev-blog, .project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 50px;
}

.img-wrapper, .desc-text-wrapper {
  width: 50%;
  margin: auto 25px;
}

.img-wrapper:hover img {
  opacity: 0.5;
  transition: 0.5s ease;
}

img {
  width: 100%;
  height: auto;
}

.social-links a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.social-links i:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 0.5s;
}


@media only screen and (max-width: 800px) {
  .dev-blog, .project {
    margin: auto 25px;
  }
}

@media only screen and (max-width: 480px) {
  .dev-blog, .project {
    margin: auto;
    flex-direction: column;
  }
  .img-wrapper, .desc-text-wrapper {
    width: 95%;
  }
}
