@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3 {
  font-family: 'Ruslan Display', cursive;
  text-transform: uppercase;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  text-transform: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
